<html>
    <head>
        <title>
            Coinview
        </title>
        <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    </head>
    <body>

        <h1> {{title}}</h1>

        <div id="exchange_info">
            <h2>Exchange Information</h2>
            {% for key in exchange %}
            {% endfor %}
        </div>

        <div id="chart"></div>

        <div id="trades"></div>

        <div style="border: solid gray 1px; padding:20px; margin-top: 20px; width:600px;">
            <h3>Buy Crypto</h3>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div style="padding: 5px; margin-bottom: 5px; background-color: pink; border: solid red 1px; color: red;">
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            {% endwith %}

            <form action="/buy" method="POST">
                <input type="text" id="quantity" name="quantity" placeholder="eg. 0.0001"/>
                <select id="symbol" name="symbol">
                    {% for symbol in symbols %}
                    <option>
                        {{ symbol['symbol'] }}
                    </option>
                    {% endfor %}
                </select>
                <input type="submit" name="buy" value="buy" />
            </form>   
        </div>
             
        

        <div id="my_balances">
            <h2>My Balances</h2>
            <table>
                <tbody>
                    <tr>
                        <th>Symbol</th>
                        <th>Free</th>
                        <th>In Order (Locked)</th>
                    </tr>
                    {% for balance in my_balances %}
                        {% if balance.free|float > 0 %}
                        <tr>
                            <td>
                                {{ balance.asset}}
                            </td>
                            <td>
                                {{ balance.free}}
                            </td>
                            <td>
                                {{ balance.locked}}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="settings">

            <h3>Settings</h3>

            <input type="checkbox"/>RSI
            <input type="text" id="rsi_length" name="rsi_length" placeholder="14" />
            Overbought
            <input type="text" id="rsi_overbought" name="rsi_overbought" placeholder="70" />
            Oversold
            <input type="text" id="rsi_oversold" name="rsi_oversold" placeholder="30" />
        </div>
        
        <script>
                // Create WebSocket connection.
                //const socket = new WebSocket('wss://stream.binance.com:9443/ws/btcusdt@trade');

                let trades = document.getElementById("chart");

                // socket.onmessage = function (event) {
                //     let data = JSON.parse(event.data);
                //     trades.append(data.p);
                // }

        </script>
        <script src="{{ url_for('static', filename='chart.js') }}"></script>
    </body>
</html>